*{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease;
}