#board_container{
    position: absolute;
    overflow: hidden;
    background-color: #737960;
}

#debug_board_container{
    position: absolute;
}

#cell_info{
    position: absolute;
    left: 1183px;
    top: 10px;
}

#controls_content > div {
    width: 50%;
}

#cost_info{
    position: absolute;
    left: 1183px;
    top: 350px;
}

#debug_hex_info{
    position: absolute;
    font-size: 1vw;
    z-index: 100;
}

#menu_buttons{
    padding: 5%;
    margin-top: 20%;
    transform: translateX(-10vw);
    opacity: 0;
    transition: transform 2s ease, opacity 3s ease;
    background-image: linear-gradient(to left,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.511)
    );
    width: 28vw;
}

#menu_buttons.slide{
    transform: translateX(0);
    opacity: 1;
}

.menu_button{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 0.8vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    cursor: pointer;
    color: black;
    transition: color .5s ease;
    z-index: 0;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.page_header{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    color: black;
    z-index: 0;
    font-weight: bold;
}

.menu_text{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    color: black;
    z-index: 0;
    font-weight: bold;
}

.button{
    padding-left: 0.5vw;
}

.menu_button:hover {
    color: white;
}

.menu_button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to left,
        rgba(31,38,31,0),
        rgb(31, 38, 31)
    );
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
    z-index: -1;
}

.menu_button:hover::before {
    opacity: 1;
}

#tap_anywhere{
    letter-spacing: 0.5vw;  
    margin: 25%;
    font-size: 2vw;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-align: center;
    animation: lmbToPlay 1s infinite linear;
}

@keyframes lmbToPlay {
    0%   { color: white; }
    50%  { color: #ffffff67; }
    100% { color: white; }
}

#page_menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
}

#subtitle_holder{
    width: 70vw;
    margin: auto;
    overflow: hidden;
}

#title_holder{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#title{
    width: 70vw;
    margin: auto;
}

#subtitle{
    position: absolute;
    width: 70vw;
    transform: translateY(-35%);
}

#subtitle_over{
    position: absolute;
    width: 70vw;
    transform: translateY(-35%);
}

#page_controls{
    position: relative;
    z-index: 1;
}

#page_displayconfig{
    position: relative;
    z-index: 1;
}

#page_game{
    position: relative;
    z-index: 1;
}

#page_tap{
    position: relative;
    z-index: 1;
}

#cover{
    position: relative;
    background-color: #000000;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}

#board_placeholder{
    position: absolute;
}

#settings{
    display: flex;
    flex-direction: column;
    height: 90%;
}

#settings_p{
    height: 100vh;
}

#set_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.page_background{
    position: absolute;
    background-image: linear-gradient(to left,
        rgba(255, 255, 255, 0.511),
        rgba(255, 255, 255, 0.353),
        rgba(255, 255, 255, 0.511)
    );
    z-index: -1;
    width: 100vw;
    height: 140vh;
    top: -100px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    width: 6vw;
    height: 1.2vh;
    background: #181a18;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
    height: 0.7vh;
    background: #303c32;
    border-radius: 4px;
}

.slider::-moz-range-track {
    height: 0.7vh;
    background: #303c32;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: #d9e8dc;
    border: 4px solid #4a4a4a;
    border-radius: 50%;
    margin-top: -6px;
    transition: 0.2s;
}

.slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #d9e8dc;
    border: 4px solid #4a4a4a;
    border-radius: 50%;
    transition: 0.2s;
}

#controls_content{
    width:100vh;
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS';
    color: black;
    z-index: 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.8;
}