#board_container{
    position: absolute;
    overflow: hidden;
    background-color: #737960;
    outline: #2fff52 5px dashed;
    border-radius: 12px;
}

#debug_board_container{
    position: absolute;
}

#cell_info{
    position: absolute;
    left: 1183px;
    top: 10px;
}

#controls_content > div {
    width: 50%;
}

#cost_info{
    position: absolute;
    left: 1183px;
    top: 350px;
}

#debug_hex_info{
    position: absolute;
    font-size: 1vw;
    z-index: 100;
}

#menu_buttons{
    padding: 5%;
    margin-top: 20%;
    transform: translateX(-10vw);
    opacity: 0;
    transition: transform 2s ease, opacity 3s ease;
    background-image: linear-gradient(to left,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.511)
    );
    width: 28vw;
}

#menu_buttons.slide{
    transform: translateX(0);
    opacity: 1;
}

.menu_button{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 0.8vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    cursor: pointer;
    color: black;
    transition: color .5s ease;
    z-index: 0;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.page_header{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    color: black;
    z-index: 0;
    font-weight: bold;
}

.menu_text{
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1vw;
    font-family: 'Trebuchet MS';
    width: 25vw;
    color: black;
    z-index: 0;
    font-weight: bold;
}

.button{
    padding-left: 0.5vw;
}

.menu_button:hover {
    color: white;
}

.menu_button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to left,
        rgba(31,38,31,0),
        rgb(31, 38, 31)
    );
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
    z-index: -1;
}

.menu_button:hover::before {
    opacity: 1;
}

#tap_anywhere{
    letter-spacing: 0.5vw;  
    margin: 25%;
    font-size: 2vw;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-align: center;
    animation: lmbToPlay 1s infinite linear;
}

@keyframes lmbToPlay {
    0%   { color: white; }
    50%  { color: #ffffff67; }
    100% { color: white; }
}

#page_menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
}

#subtitle_holder{
    width: 70vw;
    margin: auto;
    overflow: hidden;
}

#title_holder{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#title{
    width: 70vw;
    margin: auto;
}

#subtitle{
    position: absolute;
    width: 70vw;
    transform: translateY(-35%);
}

#subtitle_over{
    position: absolute;
    width: 70vw;
    transform: translateY(-35%);
}

#page_controls{
    position: relative;
    z-index: 1;
}

#page_displayconfig{
    position: relative;
    z-index: 1;
}

#page_game{
    position: relative;
    z-index: 1;
}

#page_tap{
    position: relative;
    z-index: 1;
}

#cover{
    position: relative;
    background-color: #000000;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}

#board_placeholder{
    position: absolute;
}

#settings{
    display: flex;
    flex-direction: column;
    height: 90%;
}

#settings_p{
    height: 100vh;
}

#set_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    column-gap: 30vw;
    height: 50%;
}

.page_background{
    position: absolute;
    background-image: linear-gradient(to left,
        rgba(255, 255, 255, 0.511),
        rgba(255, 255, 255, 0.353),
        rgba(255, 255, 255, 0.511)
    );
    z-index: -1;
    width: 100vw;
    height: 140vh;
    top: -100px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    transform: translateY(3px);
    width: 6vw;
    height: 0.7vh;
    border: #181a18 5px solid;
    background: #181a18;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.slider::-webkit-slider-runnable-track {
    height: 0.7vh;
    background: #303c32;
}

.slider::-moz-range-track {
    height: 0.7vh;
    background: #303c32;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: #d9e8dc;
    border: 4px solid #4a4a4a;
    border-radius: 50%;
    margin-top: -6px;
    transition: 0.2s;
    transform: translateY(-1px);
}

.slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #d9e8dc;
    border: 4px solid #4a4a4a;
    border-radius: 50%;
    transition: 0.2s;
    transform: translateY(-1px);
}

#controls_content{
    width:100vh;
    letter-spacing: 0.5vw;  
    padding-left: 0.5vw;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS';
    color: black;
    z-index: 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-8px);
    background-color: #303c32;
    -webkit-transition: .4s;
    transition: .4s;
    border: #181a18 5px solid;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #d9e8dc;
    border: 4px solid #4a4a4a;
    -webkit-transition: .4s;
    transform: translate(-8px, 9px);
    transition: .4s;
}

input:checked + .toggle {
    background-color: #9da3aa;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #9fa5aa;
}

input:checked + .toggle:before {
    -webkit-transform: translate(16px, 9px);
    -ms-transform: translate(16px, 9px);
    transform: translate(16px, 9px);
}

.toggle.round {
    border-radius: 34px;    
}

.toggle.round:before {
    border-radius: 50%;
}

.setting{
    width: 25vw;
    text-align: start;
}

#game_terminal{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 15px;
    border: #2fff52 5px dashed;
    border-radius: 12px;
    height: 90vh;
}

#turn_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: #1bb034 5px solid;
}

#phase_info{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.phase{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #63ff80;
    width: 150px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
    background-color: #063106;
    outline:#001b05 solid 5px;
    border-radius: 15px;
    padding: 15px;
    transition: all 1s ease-in-out;
    transition-property: color, background-color;
}

.phase_active{
    color: #063106;
    background-color: #63ff80;
}

#turn_n{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #63ff80;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: xx-large;
}