.unit_display {
    position: absolute;
    filter: opacity(55%);
    z-index: 100;
}

.unit_outline_display {
    position: absolute;
    filter: opacity(75%);
    z-index: 101;
}

.unit_hull_display{
    position: absolute;
    z-index: 110;
}

.unit_turret_display{
    z-index: 111;
}

.debug_path_visualizer{
    z-index: 760;
}