.unit_display {
    position: absolute;
    filter: opacity(55%);
    z-index: 100;
}

.unit_outline_display {
    position: absolute;
    filter: opacity(75%);
    z-index: 101;
}

.unit_hull_display{
    position: absolute;
    z-index: 110;
    transform: rotate(0deg);
    transition: transform 6s ease-in-out;
}

.unit_turret_display{
    z-index: 111;
    transform: rotate(0deg);
    transition: transform 6s ease-in-out;
}

.debug_path_visualizer{
    z-index: 760;
}

.explosion_display{
    z-index: 120;
}