.unit_display {
    position: absolute;
    filter: opacity(55%);
    z-index: 100;
}

.unit_outline_display {
    position: absolute;
    z-index: 101;
}

.unit_unselected{
    filter: opacity(55%);
}

.unit_hull_display{
    position: absolute;
    z-index: 110;
}

.unit_turret_display{
    z-index: 111;
}

.unit_turret_display.firing{
    transition: transform 0.6s ease-out;
}

.debug_path_visualizer{
    z-index: 760;
}

.explosion_display{
    z-index: 120;
}