    #board{
        width: 1153px;
        height: 700px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: -1000;
    }

    #cell_info{
        position: absolute;
        left: 1183px;
        top: 10px;
    }

    #debug_hex_dis{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 50;
    }

    #cell_display{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 10;
        filter: opacity(55%);
    }

    #debug_hex_info{
        position: absolute;
        left: 10px;
        top: 730px;
        z-index: 100;
    }

    .debug_hex_display{
        width: 46px;
        height: 40px;
        z-index: 0;
    }

    .debug_village_display{
        width: 46px;
        height: 40px;
        z-index: 1;
    }