    *{
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    html, body {
        margin: 0; 
        height: 100%; 
        overflow: hidden
    }

    #board_container{
        width: 1153px;
        height: 700px;
        position: absolute;
        left: 10px;
        top: 10px;
        overflow: hidden;
    }
    
    #board{
        width: 1153px;
        height: 700px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;
        filter: opacity(100%);
    }    

    #cell_info{
        position: absolute;
        left: 1183px;
        top: 10px;
    }

    #debug_hex_dis{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 500;
    }

    #cell_display{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 100;
        filter: opacity(55%);
    }

    #debug_hex_info{
        position: absolute;
        left: 10px;
        top: 730px;
        font-size: 1vw;
        z-index: 100;
    }

    .debug_hex_display{
        width: 46px;
        height: 40px;
        z-index: 0;
    }

    .debug_village_display{
        width: 46px;
        height: 40px;
        z-index: 8;
    }

    .debug_river_display{
        width: 46px;
        height: 40px;
        z-index: 1;
    }

    .debug_road_display{
        width: 46px;
        height: 40px;
        z-index: 2;
    }

    .debug_highway_display{
        width: 46px;
        height: 40px;
        z-index: 3;
    }

    .debug_cell_label_display{
        width: 46px;
        height: 40px;
        z-index: 25;
        margin: 0;
        text-align: center;
    }

    .debug_cell_label_text{
        position: inherit;
        width: 46px;
        top: 4px;
        margin: 0;
        z-index: 25;
        vertical-align: center;
        font-family: Arial;
        color: #000000;
        -webkit-text-stroke: 2px #ffffff;
        font-size: 9px;
    }

    .debug_cell_label_text_inner{
        position: inherit;
        width: 46px;
        top: 4px;
        margin: 0;
        z-index: 30;
        vertical-align: center;
        font-family: Arial;
        color: #171a1f;
        font-size: 9px;
    }