    *{
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    html, body {
        margin: 0; 
        height: 100%; 
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        transition: background-color 1s ease;
        /* background-image: linear-gradient(to top,
            rgb(90, 95, 103),
            rgb(90, 95, 103),
            rgb(41, 75, 41),
            rgb(41, 75, 41)
        ); */
    }

    #board_container{
        position: absolute;
        overflow: hidden;
    }
    
    #debug_board_container{
        position: absolute;
    }

    #board{
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;
        filter: opacity(0%);
    }    

    #cell_info{
        position: absolute;
        left: 1183px;
        top: 10px;
    }

    #cost_info{
        position: absolute;
        left: 1183px;
        top: 350px;
    }

    #debug_hex_dis{
        position: absolute;
        z-index: 500;
    }

    #cell_display{
        position: absolute;
        z-index: 100;
        filter: opacity(55%);
    }

    #debug_hex_info{
        position: absolute;
        font-size: 1vw;
        z-index: 100;
    }

    .debug_hex_display{
        z-index: 0;
    }

    .debug_village_display{
        z-index: 8;
    }

    .debug_river_display{
        z-index: 1;
    }

    .debug_road_display{
        height: 40px;
        z-index: 2;
    }

    .debug_highway_display{
        z-index: 3;
    }

    .debug_house_display{
        z-index: 0;
    }

    .debug_tree_display{
        z-index: 0;
    }

    .debug_cell_label_display{
        z-index: 25;
        margin: 0;
        text-align: center;
    }

    .debug_cell_label_text{
        position: inherit;
        top: 4px;
        margin: 0;
        z-index: 25;
        vertical-align: center;
        font-family: Arial;
        color: #000000;
        -webkit-text-stroke: 1px #cec9cf;
    }

    .debug_cell_label_text_inner{
        position: inherit;
        top: 4px;
        margin: 0;
        z-index: 30;
        vertical-align: center;
        font-family: Arial;
        color: #171a1f;
    }

    .unit_display {
        position: absolute;
        filter: opacity(55%);
        z-index: 100;
    }

    .unit_outline_display {
        position: absolute;
        filter: opacity(75%);
        z-index: 101;
    }

    #menu_buttons{
        padding: 5%;
        margin-top: 20%;
        transform: translateX(-10vw);
        opacity: 0;
        transition: transform 2s ease, opacity 3s ease;
        background-image: linear-gradient(to left,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.511)
        );
        width: 28vw;
    }

    #menu_buttons.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .menu_button{
        letter-spacing: 0.5vw;  
        padding-left: 0.5vw;
        font-size: 0.8vw;
        font-family: 'Trebuchet MS';
        width: 25vw;
        cursor: pointer;
        color: black;
        transition: color .5s ease;
        z-index: 0;
        position: relative;
        overflow: hidden;
        font-weight: bold;
    }

    .page_header{
        letter-spacing: 0.5vw;  
        padding-left: 0.5vw;
        font-size: 1.2vw;
        font-family: 'Trebuchet MS';
        width: 25vw;
        color: black;
        z-index: 0;
        font-weight: bold;
    }

    .menu_text{
        letter-spacing: 0.5vw;  
        padding-left: 0.5vw;
        font-size: 1vw;
        font-family: 'Trebuchet MS';
        width: 25vw;
        color: black;
        z-index: 0;
        font-weight: bold;
    }

    .button{
        padding-left: 0.5vw;
    }

    .menu_button:hover {
        color: white;
    }

    .menu_button::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to left,
            rgba(31,38,31,0),
            rgb(31, 38, 31)
        );
        opacity: 0;
        transition: opacity .5s ease;
        pointer-events: none;
        z-index: -1;
    }

    .menu_button:hover::before {
        opacity: 1;
    }

    #tap_anywhere{
        letter-spacing: 0.5vw;  
        margin: 25%;
        font-size: 2vw;
        font-family: 'Trebuchet MS';
        font-weight: bold;
        text-align: center;
        animation: lmbToPlay 1s infinite linear;
    }

    @keyframes lmbToPlay {
        0%   { color: white; }
        50%  { color: #ffffff67; }
        100% { color: white; }
    }

    .panorama{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vw;
        opacity: 0.33;
        transition: transform 0.05s linear;
        will-change: transform;
    }

    #menu_pan_0{
        z-index: 0;
    }

    #menu_pan_1{
        z-index: 1;
    }

    #menu_pan_2{
        z-index: 2;
    }

    #menu_panorama{
        position: relative;
        z-index: 0;
    }

    #page_menu{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        height: 100%;
    }

    #subtitle_holder{
        width: 70vw;
        margin: auto;
        overflow: hidden;
    }

    #title_holder{
        width: 70vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #title{
        width: 70vw;
        margin: auto;
    }

    #subtitle{
        position: absolute;
        width: 70vw;
        transform: translateY(-35%);
    }

    #subtitle_over{
        position: absolute;
        width: 70vw;
        transform: translateY(-35%);
    }

    #page_controls{
        position: relative;
        z-index: 1;
    }

    #page_displayconfig{
        position: relative;
        z-index: 1;
    }

    #page_game{
        position: relative;
        z-index: 1;
    }

    #page_tap{
        position: relative;
        z-index: 1;
    }

    #cover{
        position: relative;
        background-color: #000000;
        z-index: 1000000;
        width: 100%;
        height: 100%;
    }

    #board_placeholder{
        position: absolute;
    }
    
    #board_size{
        width: 8vw;
    }

    #settings{
        display: flex;
        flex-direction: row;
    }