    #board{
        width: 1153px;
        height: 700px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: -1000;
    }

    #cell_info{
        position: absolute;
        left: 1183px;
        top: 10px;
    }

    #debug_hex_dis{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;
    }

    #cell_display{
        width: 46px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        filter: opacity(55%);
    }

    #debug_hex{
        position: absolute;
        left: 10px;
        top: 730px;
        z-index: 100;
    }